* {
    color: #6B442D;
    font-family: 'Inter', sans-serif;
}

/* aula_14 */

.list li:first-child {
    color: #32a852;
}

.content p:nth-of-type(2) {
    color: #3295a8;
    font-style: italic;
}

.content p:nth-child(2) {
    color: #ab58db;
}

/* aula_15 */
input[type=text] {
    display: block;
    padding: 4px 4px;
    margin: 10px 0;
}

input[type=text]:disabled {
    background: #6B442D;
}

input[type=text]:disabled::placeholder {
    color: #FFF;
}

.btn-submit {
    background: #327fa8;
    border: 1px solid #327fa8;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    margin: 5px 0;
    padding: 12px 17px;
    transition: .2s;
}

.btn-submit:hover {
    background: #FFF;
    border: 1px solid #327fa8;
    color: #327fa8;
}

/* aula_16 */
ul {
    list-style-type: none;
}

li::before {
    content: '🚀';
    margin-right: 6px;
}
