/* aula_02.html */
.container h1 {
    border: 1px solid #FF0000;
    padding: 24px;
    margin: 32px;
}

/* aula_03 */
h1 {
    background: blue;
    color: #FFF;
}

#super-title {
    background: red;
}

strong {
    color: blueviolet;
}

.my-text strong {
    color: aqua;
}

/* aula_04 */
/* Descendent combinator */
/* body ul li {
    background: green;
    color: red;
}

body section div ul li {
    background: #0088FA;
    color: #88DDEE;
} */

/* Child combinator */
body > ul {
    background: #25A;
    color: #FFF;
}

div > ul {
    background: #25A16B;
    color: #FFF;
}

/* irmão mais próximo do h3 que no caso é o parágrafo */
h3 + p {
    background: #DDD;
}

h3 ~ p {
    color: #25A16B;
}

/* aula_05 */
/* h2 {
    /* background: #25A; */
    /* color: #FFF;
    font-size: 48px;
    font-style: italic;
    font-weight: bold; */
    /* font: italic 100 58px 'Arial', sans-serif; 
}*/

/* * {
    margin: 0;
    padding: 0;
} */

.box {
    background: red;
    margin: 12px 80px 4px;
    /* top right/left bottom */
}

.box-2 {
    background: green;
}

.box-3 {
    background: blue;
}

/* aula_06 */
.web {
    font-size: 84px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #E0EFFD;
}

body::-webkit-scrollbar-thumb {
    background: #265AFE;
    border-radius: 6px;
}